<!DOCTYPE html>
<html>
<head>
    <title>Register Learner</title>
</head>
<body>
    <h2>Learner Registration Form</h2>
    <form method="POST">
        Admission No: <input type="text" name="admission" required><br>
        Assessment No: <input type="text" name="assesment" required><br>
        First Name: <input type="text" name="fname" required><br>
        Last Name: <input type="text" name="lname" required><br>
        Date of Birth: <input type="date" name="dob" required><br>
        Gender:
        <select name="gender" required>
            <option value="">--Select--</option>
            <option>Male</option>
            <option>Female</option>
        </select><br>
        Class: <input type="text" name="class" required><br>
        paarent Name: <input type="text" name="parent"><br>
        parent Contact: <input type="text" name="contact"><br>
        <button type="submit">Register Learner</button>
    </form>
</body>
</html>
